<ul class="mkr-product-list list-inline d-lg-flex flex-wrap">
  <li>
    <div class="mkr-product-card card">
      <div
        class="mkr-skeleton-img card-img-top"
        alt="Product Card Image Alt"
      ></div>
      <div class="card-body">
        <div
          class="mkr-skeleton-text card-title"
          style="margin-bottom: 1rem"
        ></div>
        <div class="mkr-skeleton-text card-title"></div>
        <div class="mkr-skeleton-text mkr-skeleton-text--md"></div>
        <div class="mkr-skeleton-btn" style="margin-top: 1rem"></div>
      </div>
    </div>
  </li>
  <li>
    <div class="mkr-product-card card">
      <div
        class="mkr-skeleton-img card-img-top"
        alt="Product Card Image Alt"
      ></div>
      <div class="card-body">
        <div
          class="mkr-skeleton-text card-title"
          style="margin-bottom: 1rem"
        ></div>
        <div class="mkr-skeleton-text card-title"></div>
        <div class="mkr-skeleton-text mkr-skeleton-text--md"></div>
        <div class="mkr-skeleton-btn" style="margin-top: 1rem"></div>
      </div>
    </div>
  </li>
  <li>
    <div class="mkr-product-card card">
      <div
        class="mkr-skeleton-img card-img-top"
        alt="Product Card Image Alt"
      ></div>
      <div class="card-body">
        <div
          class="mkr-skeleton-text card-title"
          style="margin-bottom: 1rem"
        ></div>
        <div class="mkr-skeleton-text card-title"></div>
        <div class="mkr-skeleton-text mkr-skeleton-text--md"></div>
        <div class="mkr-skeleton-btn" style="margin-top: 1rem"></div>
      </div>
    </div>
  </li>
  <li>
    <div class="mkr-product-card card">
      <div
        class="mkr-skeleton-img card-img-top"
        alt="Product Card Image Alt"
      ></div>
      <div class="card-body">
        <div
          class="mkr-skeleton-text card-title"
          style="margin-bottom: 1rem"
        ></div>
        <div class="mkr-skeleton-text card-title"></div>
        <div class="mkr-skeleton-text mkr-skeleton-text--md"></div>
        <div class="mkr-skeleton-btn" style="margin-top: 1rem"></div>
      </div>
    </div>
  </li>
</ul>
