<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About - Mekar Rasa</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <%- include('../partials/navbar', {route: 'about'}); %>
      <main class="container">
        <div class="mt-4">
          <h2>About</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            doloribus iusto dolorum ut aliquid sit ipsa quidem provident
            molestiae. Fugiat exercitationem voluptatum dolor voluptatibus
            veniam officiis quasi laudantium id cum molestiae neque dignissimos,
            magni ab ipsum a. Enim at fuga ullam excepturi sed quia numquam,
            harum consequuntur recusandae similique culpa dolor, labore debitis
            iure aspernatur saepe sint neque minus nam? Excepturi fugit,
            expedita porro eveniet iure veniam consequatur sapiente voluptatum,
            fugiat, sit vel facere amet? Facere porro placeat aliquam vitae
            blanditiis distinctio labore neque aspernatur officiis laboriosam
            necessitatibus impedit fugiat, error eligendi! Illum labore, maiores
            porro saepe ea beatae quisquam.
          </p>
        </div>
      </main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
